In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


#object preferences, but we need to get rid of age, education, sex. Could we  group equal individuals to whom
#were given the same choice set?
df = pd.read_stata("datasets/IoT_DCE_Thermostats-PlosOne.dta")
df

,subject,condition,age,education,stproducttested,choice,label,price,function,item,alternative,choicetask,secbehav,Female,Male
0,2,Graded_A,30,5,Camera,0,0,207.990005,0,1,1,1,4.125,1.0,0.0
1,2,Graded_A,30,5,Camera,1,1,159.990005,0,1,2,1,4.125,1.0,0.0
2,2,Graded_A,30,5,Camera,0,0,223.990005,1,1,3,1,4.125,1.0,0.0
3,2,Graded_A,30,5,Camera,0,0,191.990005,1,2,1,2,4.125,1.0,0.0
4,2,Graded_A,30,5,Camera,1,1,207.990005,1,2,2,2,4.125,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33118,2917,info_label_low,26,6,Wearable,1,1,159.990005,0,9,2,11040,2.750,1.0,0.0
33119,2917,info_label_low,26,6,Wearable,0,0,191.990005,0,9,3,11040,2.750,1.0,0.0
33120,2917,info_label_low,26,6,Wearable,0,0,159.990005,1,10,1,11041,2.750,1.0,0.0
33121,2917,info_label_low,26,6,Wearable,1,1,175.990005,0,10,2,11041,2.750,1.0,0.0
33122,2917,info_label_low,26,6,Wearable,0,1,223.990005,1,10,3,11041,2.750,1.0,0.0

In [24]:
#label preference, Preference 2>1,2>3,2>4, issues a lot of data
df = pd.read_csv("datasets/DDModeChoice.txt", sep="\t", index_col=0)
np.unique(df.values,axis=0).shape
df

,Choice,Distance,School_location,Grade,Age,Gender,CarAvail,Season,CB_location,Leistung
ID,,,,,,,,,,
1,2,6.03139,0,9,15,0,0,0,0,152.98
2,2,3.48652,0,9,15,1,0,0,1,64.67
3,4,5.33100,0,9,14,1,1,0,0,147.19
4,3,3.75005,0,9,15,0,0,0,0,1287.90
5,2,2.04100,0,9,15,1,0,0,1,35.36
...,...,...,...,...,...,...,...,...,...,...
9296,3,8.82052,0,12,19,1,0,1,1,1612.53
9297,3,3.08554,0,12,19,1,0,1,0,140.04
9298,3,6.93700,0,12,18,0,1,1,0,52.42
9299,3,2.83519,0,6,11,0,0,1,0,39.67
9300,3,6.95468,0,6,12,0,0,1,0,92.33

In [25]:
#object preferences, but we need to get rid of college 	hsg2 	coml5. Could we  group equal individuals to whom
#were given the same choice set?
df = pd.read_csv("datasets/Car.csv",index_col=0)
df[(df.college==0) & (df.hsg2==0) & (df.coml5==0)]

,choice,college,hsg2,coml5,type1,type2,type3,type4,type5,type6,...,pollution3,pollution4,pollution5,pollution6,size1,size2,size3,size4,size5,size6
1,choice1,0,0,0,van,regcar,van,stwagon,van,truck,...,0.25,0.25,0.50,0.50,3,3,2,2,3,3
6,choice5,0,0,0,truck,regcar,truck,van,truck,stwagon,...,0.25,0.25,0.50,0.50,3,3,2,2,3,3
9,choice5,0,0,0,sportuv,sportcar,sportuv,regcar,sportuv,truck,...,0.75,0.75,0.25,0.25,3,3,3,3,2,2
14,choice5,0,0,0,regcar,stwagon,regcar,truck,regcar,van,...,0.40,0.40,0.75,0.75,2,2,3,3,3,3
18,choice2,0,0,0,regcar,truck,regcar,van,regcar,stwagon,...,0.40,0.40,0.75,0.75,3,3,3,3,2,2
28,choice5,0,0,0,truck,regcar,truck,van,truck,stwagon,...,0.60,0.60,1.00,1.00,3,3,3,3,2,2
32,choice5,0,0,0,regcar,stwagon,regcar,truck,regcar,van,...,0.40,0.40,0.75,0.75,2,2,3,3,3,3
38,choice5,0,0,0,regcar,truck,regcar,van,regcar,stwagon,...,0.40,0.40,0.75,0.75,2,2,3,3,3,3
39,choice3,0,0,0,regcar,truck,regcar,van,regcar,stwagon,...,0.75,0.75,0.25,0.25,3,3,3,3,2,2
44,choice5,0,0,0,regcar,van,regcar,stwagon,regcar,truck,...,0.40,0.40,0.25,0.25,2,2,3,3,1,1
52,choice3,0,0,0,regcar,truck,regcar,van,regcar,stwagon,...,0.40,0.40,0.75,0.75,3,3,3,3,2,2
68,choice6,0,0,0,regcar,van,regcar,stwagon,regcar,truck,...,0.10,0.10,0.75,0.75,3,3,2,2,3,3
75,choice1,0,0,0,truck,regcar,truck,van,truck,stwagon,...,0.60,0.60,1.00,1.00,2,2,3,3,1,1
88,choice4,0,0,0,regcar,stwagon,regcar,truck,regcar,van,...,0.25,0.25,0.50,0.50,3,3,2,2,3,3
95,choice4,0,0,0,truck,regcar,truck,van,truck,stwagon,...,0.25,0.25,0.50,0.50,3,3,2,2,3,3
122,choice5,0,0,0,regcar,truck,regcar,van,regcar,stwagon,...,0.25,0.25,0.50,0.50,3,3,2,2,3,3
125,choice5,0,0,0,regcar,truck,regcar,van,regcar,stwagon,...,0.60,0.60,1.00,1.00,3,3,3,3,2,2
143,choice4,0,0,0,regcar,truck,regcar,van,regcar,stwagon,...,0.40,0.40,0.75,0.75,1,1,2,2,3,3
149,choice5,0,0,0,regcar,truck,regcar,van,regcar,stwagon,...,0.25,0.25,0.50,0.50,3,3,2,2,3,3
160,choice1,0,0,0,regcar,stwagon,regcar,truck,regcar,van,...,0.40,0.40,0.75,0.75,1,1,2,2,3,3
169,choice4,0,0,0,regcar,truck,regcar,van,regcar,stwagon,...,0.40,0.40,0.75,0.75,2,2,3,3,3,3
189,choice4,0,0,0,regcar,truck,regcar,van,regcar,stwagon,...,0.10,0.10,0.40,0.40,3,3,2,2,3,3
190,choice5,0,0,0,regcar,van,regcar,stwagon,regcar,truck,...,0.10,0.10,0.75,0.75,3,3,2,2,3,3
194,choice1,0,0,0,regcar,truck,regcar,van,regcar,stwagon,...,0.60,0.60,1.00,1.00,3,3,3,3,2,2
215,choice2,0,0,0,regcar,truck,regcar,van,regcar,stwagon,...,0.60,0.60,1.00,1.00,3,3,3,3,2,2
218,choice5,0,0,0,regcar,truck,regcar,van,regcar,stwagon,...,0.25,0.25,0.50,0.50,3,3,2,2,3,3
219,choice4,0,0,0,truck,regcar,truck,van,truck,stwagon,...,0.25,0.25,0.60,0.60,1,1,2,2,3,3
226,choice1,0,0,0,regcar,truck,regcar,van,regcar,stwagon,...,0.40,0.40,0.75,0.75,1,1,2,2,3,3
230,choice5,0,0,0,regcar,van,regcar,stwagon,regcar,truck,...,0.40,0.40,0.25,0.25,2,2,3,3,1,1
261,choice1,0,0,0,regcar,truck,regcar,van,regcar,stwagon,...,0.40,0.40,0.75,0.75,2,2,3,3,3,3
264,choice1,0,0,0,regcar,truck,regcar,van,regcar,stwagon,...,0.40,0.40,0.75,0.75,1,1,2,2,3,3
269,choice1,0,0,0,regcar,truck,regcar,van,regcar,stwagon,...,0.75,0.75,0.25,0.25,3,3,3,3,2,2
270,choice6,0,0,0,sportcar,truck,sportcar,sportuv,sportcar,regcar,...,0.25,0.25,1.00,1.00,0,0,1,1,2,2
278,choice1,0,0,0,van,stwagon,van,truck,van,regcar,...,0.25,0.25,1.00,1.00,2,2,3,3,3,3
289,choice1,0,0,0,truck,regcar,truck,van,truck,stwagon,...,0.40,0.40,0.75,0.75,2,2,3,3,3,3

In [19]:
df.columns

Index(['choice', 'college', 'hsg2', 'coml5', 'type1', 'type2', 'type3',
       'type4', 'type5', 'type6', 'fuel1', 'fuel2', 'fuel3', 'fuel4', 'fuel5',
       'fuel6', 'price1', 'price2', 'price3', 'price4', 'price5', 'price6',
       'speed1', 'speed2', 'speed3', 'speed4', 'speed5', 'speed6',
       'pollution1', 'pollution2', 'pollution3', 'pollution4', 'pollution5',
       'pollution6', 'size1', 'size2', 'size3', 'size4', 'size5', 'size6'],
      dtype='object')